@model IEnumerable<LoginAttemptModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Who)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastSuccessful)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastFailed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FailedCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Who)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastSuccessful)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastFailed)
            </td>
            <td>
					@Html.DisplayFor(modelItem => item.FailedCount)
            </td>
            <td>
            </td>
        </tr>
}
    </tbody>
</table>
