@model IEnumerable<PS1CB.Data.LoginAttempt>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.When)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Who)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Success)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.When)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Who)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Success)
            </td>
            <td>
            </td>
        </tr>
}
    </tbody>
</table>
